.Header_container {
    height: 240px ;
    padding: 16px ;
    background: #1F2937 ;
}
#header_link_container{
    height: 24px;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    color: #e5e5eb;
    
}
.header_link {
    display: flex;
    margin-top: 10px;
}
#Header_logo{
    color: #E5E7EB;
    height:10px;
    display: flex;
}
.Header_main{
    height: 200px;
    display: flex;

}
#image {
    display: flex;
    height: 100px;
    margin-left: 150px;
    margin-top: 70px;
    flex: 1;
}
.Header_and_pa{
    margin-top: 50px;
    margin-left: 30px;
    display: flex;  
    flex-direction: column;
    color: #F9FAF8;
}
